# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: requirements-txt-fixer

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language: python
        types: [ python ]
        args:
          - --line-length=82
          - --exclude="""\.git |
            \.__pycache__|
            \.hg|
            \.mypy_cache|
            \.tox|
            \.venv|
            _build|
            buck-out|
            build|
            dist"""


  # - repo: https://gitlab.com/pycqa/flake8
  #   rev: 3.9.2
  #   hooks:
  #     - id: flake8
  #       args: # arguments to configure flake8
  #         # making isort line length compatible with black
  #         - "--max-line-length=82"
  #         - "--max-complexity=18"
  #         - "--select=B,C,E,F,W,T4,B9"
  #         - "--exclude=.git,__pycache__,build,dist,paymentapp, search.py,sqs_trigger.py, app.py"

  #         # these are errors that will be ignored by flake8
  #         # check out their meaning here
  #         # https://flake8.pycqa.org/en/latest/user/error-codes.html
  #         - "--ignore=E203,E266,E501,W503,F403,F401,E402, F841, F405,F541,E722"
